<h3>lista de heroes</h3>


<div>
  <h3 *ngIf="deleteHero ; else nothingWasDeleted">Hèroe borrado <small class="text-danger">{{ deleteHero }}</small></h3>
</div>




<ng-template #nothingWasDeleted>
  <h3>NO ha borrado un hèroe</h3>
</ng-template>




<button (click)="removeLastHero()" *ngIf=" heroes.length > 0 ; else nothing " class="btn btn-outline-danger">
  borrar ùltimo hèroe
</button>

<ng-template #nothing>
  <h3>Aqui no hay nada :v</h3>
</ng-template>



<ul class="mt-2 list-group">
  <li class="list-group-item" *ngFor="let name of heroes">{{ name }}
  </li>
</ul>
